@import url("https://fonts.cdnfonts.com/css/safira-march-personal-use");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Work+Sans:wght@400;500;700&display=swap");
@import "./breakpoints.scss";
.top-section {
  background-color: #eccac2;
  color: #4b4b4b;
  text-align: center;
  font-family: Safira March Personal Use;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem;
  letter-spacing: 0.075rem;
  span {
    color: #4b4b4b;
    font-family: Work Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.25rem;
    letter-spacing: 0.15rem;
  }
  .top-padding {
    span {
      color: #4b4b4b;
      font-family: Work Sans;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 100;
      line-height: 2.25rem;
      letter-spacing: 0.15rem;
    }
  }

  .first {
    @include media(">=320px", "<=tablet") {
      display: block !important;
    }
    .top-padding {
      @include media(">=320px", "<=tablet") {
        margin-top: 1rem !important;
      }
    }
  }
}
.nav-section {
  select {
    margin-top: 1rem;
    @include media("<=768px") {
      width: 68px;
    }
  }
  .flow-01 {
    @include media("<=768px") {
      margin-top: 1rem !important;
    }

    @include media("<=425px") {
      margin-top: 1rem !important;
    }
    @include media("<=375px") {
      margin-top: 1rem !important;
      margin-left: 3.5rem;
    }
    @include media("<=320px") {
      margin-left: 3rem;
    }
  }
  .flow {
    justify-content: center;
    margin-top: 1.5rem;
    
    img {
      object-fit: contain;

      @include media("<=768px") {
        width: 50%;
        
      }
    }
    @include media("<=425px") {
     
      margin-left: 1rem;
      width: 30%;
    }
    
  }
}

.nav-second {
  margin-top: 0.5rem;

  .collapse {
    color: #333;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-right: 3rem;
    ul {
      li {
        margin-left: 3rem;
      }
    }
  }
}
.top-image {
  img {
    width: 100%;
    object-fit: cover;
  }
  .top-image-1 {
    background-color: #eccac2;
    display: flex;
    justify-content: center;
    align-items: center;
    .top-image-2 {
      p {
        color: #4b4b4b;
        text-align: center;
        font-family: Safira March Personal Use;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.1125rem;
      }
      button {
        background-color: #fff;
        color: #4b4b4b;
        text-align: center;
        font-family: Work Sans;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.1125rem;
        text-transform: uppercase;
        border: none;
      }
      @include media("<=991px") {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
    }
  }
}

.second-image {
  .second-image-01 {
    position: relative;
    span {
      position: absolute;
      top: 2rem;
      left: 2.5rem;
      background-color: red;
      color: #fff;
      font-family: Work Sans;
      font-size: 0.88219rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.08438rem;
      text-transform: uppercase;
    }
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}

.third-image {
  .third-image-01 {
    background-image: url("./image 25.png");
    background-size: cover;
    width: 100%;
    height: 60rem;

    .third-text {
      margin-top: 15rem;

      h2 {
        color: #333;
        font-family: Safira March Personal Use;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3rem; /* 200% */
        letter-spacing: 0.1125rem;
        margin-left: 5rem;
        @include media("<=320px") {
          line-height: normal !important;
          font-weight: normal !important;
          margin-left:2rem !important ;

      
        }
      }
      h6 {
        color: #747474;
        font-family: Work Sans;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.075rem;
        margin-top: 5rem;
        margin-left: 5rem;
        @include media("<=320px") {
          
          font-weight: normal !important;
          margin-left:2rem !important ;

      
        }

      }
      p {
        color: #747474;
        font-family: Work Sans;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.25rem;
        letter-spacing: 0.075rem;
        margin-top: 3rem;
        margin-left: 5rem;
        margin-right: 11.7rem;

        @include media("<=320px") {
          line-height: normal !important;
          margin-left:2rem !important ;
      
        }
      }
      button {
        background-color: #eccac2;
        color: #fff;
        text-align: center;
        font-family: Work Sans;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.1125rem;
        text-transform: uppercase;
        margin-top: 2rem;
        margin-left: 5rem;
        border: none;
        @include media("<=320px") {
          margin-left:2rem !important ;

      
        }

      }

      @include media("<=1024px") {
        background-color: #fff;
        opacity: 0.5;
        color: #333;
        margin-left: 0rem;
        margin-top: 10rem;
        h2 {
          margin-top: 1rem;
        }
        h6 {
          margin-top: 1rem;
        }
        p {
          margin-top: 1rem;
          margin-right: 2rem;
          line-height: 2rem;
        }
        button {
          margin-bottom: 3.5rem;
        }
      }
    }
  }
}

.fourth-image {
  img {
    width: 100%;
    object-fit: cover;
  }
  .fourth-image-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eccac2;
    .fourth-image-2 {
      h2 {
        color: #545454;
        text-align: center;
        font-family: Safira March Personal Use;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 3.75rem; /* 250% */
        letter-spacing: 0.1125rem;
        span {
          color: #545454;
          font-family: Work Sans;
          font-size: 4rem;
          font-style: normal;
          font-weight: 300;
          line-height: 3.75rem;
          letter-spacing: 0.1125rem;
        }
      }
      p {
        color: #767576;
        text-align: center;
        font-family: Work Sans;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.875rem; /* 187.5% */
        letter-spacing: 0.075rem;
        margin-top: 3rem;
        border: none;
      }
      button {
        background-color: #767576;
        border: none;
        color: #fff;
        text-align: center;
        font-family: Work Sans;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.1125rem;
        text-transform: uppercase;
        margin-top: 3rem;
      }
      @include media("<=991px") {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
      @include media("<=1550px") {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }
  }
}

.section-text {
  margin-top: 3rem;
  .text-01 {
    color: #333;
    text-align: center;
    font-family: Safira March Personal Use;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0.1125rem;
  }
}
.fifth-image {
  margin-top: 5rem;
  img {
    width: 100%;
    object-fit: cover;
  }
  p {
    color: #767576;
    text-align: center;
    font-family: Safira March Personal Use;
    font-size: 0.94263rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.51375rem;
    letter-spacing: 0.08438rem;
    margin-top: 1rem;
    span {
      color: #767576;
      font-family: Work Sans;
      font-size: 1.88531rem;
      font-style: normal;
      font-weight: 300;
      line-height: 2.51375rem;
      letter-spacing: 0.16875rem;
    }
  }
}

.footer-section {
  hr {
    background-color: #b94b33;
    margin: 0px;
    height: 2rem;
  }
  .footer-top {
    background-color: #9c9b9b;

    span {
      color: #fafafa;
      font-family: Safira March Personal Use;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3rem; /* 342.857% */
      letter-spacing: 0.06563rem;
    }
    ul {
      color: #fafafa;
      font-family: Work Sans;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.75rem;
      letter-spacing: 0.08438rem;
      text-transform: uppercase;
    }
    label {
      color: #fafafa;
      font-family: Safira March Personal Use;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3rem; /* 342.857% */
      letter-spacing: 0.06563rem;
    }
    p {
      color: #fafafa;
      font-family: Work Sans;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.75rem;
    }
    .input-01{
      color: #fafafa;
      font-family: Work Sans;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.08438rem;
      text-transform: uppercase;
      border: 1px solid white;
      padding: 1rem;
    }
    button {
      background-color: #eccac2;
      color: #545454;
      text-align: center;
      font-family: Work Sans;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.12356rem;
      text-transform: uppercase;
    }
  }
  .footer-bottom {
    background-color: #767676;
    p {
      color: #fff;
      text-align: center;
      font-family: Work Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      margin-top: 2rem;
    }
    h6 {
      color: #fff;
      font-family: Work Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 60px;
      letter-spacing: 1.2px;
      text-transform: uppercase;
    }
  }
}
